@import url("https://fonts.cdnfonts.com/css/cascadia-code");

:root {
  --logo-blue: #2196f3ff;
  /* Tasks title */
  --black: #495057;

  /* All other text/icon in tasks cards */
  --dark-gray: #6d6a75ff;

  /* Border of tasks card */
  --default-gray: #adb5bdff;

  /* Icons background on hover*/
  --light-gray: #ebebeb;

  /* Borders */
  --borders-gray: #d3d3d3;

  --red: #ff5a5a;
  --yellow: #f6c364;
  --argentinian-blue: #64b5f6ff;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Cascadia Code";
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  display: grid;
  grid-template-columns: 4em 1fr 1fr;
  grid-template-rows: 4em 1fr;
  height: 100vh;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: 2px solid var(--borders-gray);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#logo {
  display: flex;
  gap: 10px;
}

aside {
  border-right: 2px solid var(--borders-gray);
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  font-size: 1.5rem;
}

#logo {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: var(--default-gray);
}

#nav-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  color: var(--default-gray);
}

#nav-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 1.3em;
  color: var(--default-gray);
}

#nav-bottom > a {
  color: var(--default-gray);
}

aside button {
  background-color: transparent;
  border: none;
  color: var(--default-gray);
}

aside i {
  padding: 8px;
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--argentinian-blue);
}

aside i:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

#min-view {
  position: relative;
  padding: 1.4em 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

#current-tab {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 3rem;
  color: var(--default-gray);
}

.high {
  background-color: var(--red);
}

.medium {
  background-color: var(--yellow);
}

.low {
  background-color: var(--argentinian-blue);
}

.task,
.project-card {
  margin: 0.5em 0.5em 0.25em 0.5em;
  border: 2px solid var(--default-gray);
  border-radius: 15px;
  border-left: none;
  width: 100%;
  display: grid;
  grid-template-columns: 0.6em 1fr;
  grid-template-rows: 1fr;
  transition: 0.1s ease-in-out;
}

.task:hover {
  cursor: pointer;
  scale: 1.01;
}

.priority,
.project-stripe {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.wrapper {
  grid-row: 1 / -1;
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5em;
  align-items: center;
}

.check {
  margin-left: 0.4em;
  accent-color: var(--logo-blue);
  transform: scale(1.4);
}

.check:hover {
  cursor: pointer;
}

.info > .title {
  color: var(--black);
  font-size: 1.2rem;
}

.info > .project,
.link {
  font-size: 0.8rem;
  color: var(--dark-gray);
}

.date-and-actions {
  justify-self: end;
  display: flex;
  align-items: center;
  column-gap: 1em;
  margin-right: 1em;
  color: var(--dark-gray);
  font-size: 1rem;
}

button.actions {
  background-color: transparent;
  border: none;
  padding: 1px 6px;
  color: var(--dark-gray);
  border-radius: 3px;
}

button.actions:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

.project-stripe {
  background-color: var(--default-gray);
}

.project-wrapper {
  grid-row: 1 / -1;
  grid-column: 2 / -1;
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

div.actions {
  width: fit-content;
  justify-self: end;
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-size: 1rem;
}

div.actions button {
  background-color: transparent;
  color: var(--dark-gray);
  padding: 1px 6px;
  border: none;
}

div.actions button:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

#full-view {
  position: relative;
  border-left: 2px solid var(--borders-gray);
}

#empty-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--default-gray);
  text-align: center;
}

form {
  position: absolute;
  z-index: 3;
  place-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--borders-gray);
  background-color: white;
  transition: 0.2s ease-in-out;
}

form > h1 {
  color: var(--dark-gray);
  text-align: center;
}

form > div {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

form > div > select,
form > div > input,
form > div > textarea {
  resize: none;
  border: 2px solid var(--borders-gray);
  color: var(--dark-gray);
  border-radius: 5px;
  padding: 2px;
}

form > div > button{
  border: none;
  background-color: var(--logo-blue);
  color: white;
  padding: 0.3em  ;
  border-radius: 5px;
}

form > div > button:hover{
  filter: brightness(90%);
  cursor: pointer;
}
