@import url("https://fonts.cdnfonts.com/css/cascadia-code");
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  font-family: "Jetbrains Mono";
  font-family: "Cascadia Code";
  background-color: var(--background);
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --timberwolf: #d3d3d3ff;
  --french-gray: #adb5bdff;
  --dim-gray: #6d6a75ff;
  --argentinian-blue: #64b5f6ff;
  --dodger-blue: #2196f3ff;

  --gray: #d3d3d3;
  --border: 2px solid #d3d3d3;

  --red: #ff5a5a;
  --yellow: #f6c364;
  --argentinian-blue: #64b5f6ff;
}

main {
  display: grid;
  grid-template-columns: 4em 1fr 1fr;
  grid-template-rows: 4em 1fr;
  height: 100vh;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: var(--border);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#logo {
  display: flex;
  gap: 10px;
}

aside {
  border-right: var(--border);
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  font-size: 1.5rem;
}

#left {
  border-right: var(--border);
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

#right {
  grid-column: 3 / -1;
  grid-row: 2 / -1;
}

#logo {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: var(--gray);
}

#nav-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  color: var(--french-gray);
}

#nav-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 1.3em;
  color: var(--french-gray);
}

#nav-bottom > a {
  color: var(--french-gray);
}

aside i {
  padding: 8px;
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--argentinian-blue);
}

aside i:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

#full-view {
  position: relative;
  border-left: var(--border);
}

#empty-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--french-gray);
  text-align: center;
}
